


<header style="margin-top: 40px;" class="text-center">
<div style="background: rgba(223, 239, 178, 1);" class="jumbotron">
  <h1>What is Jungle?</h1>
  <hr>
  <p>Our website sells the most precious and unique items at the cheapest prices.</p>
  <p><%= link_to "Start Shopping", "/", class: 'btn btn-primary btn-lg' %></p>
</div>
</header>

